{% extends "base.html" %}
{% block content %}

<div class=card>
    <div class="card-header">
        <form action="/newmail?user={{box.name}}" method="POST">
            <div class="form-group">
            <label>To:</label>
            <select name="receiver" class="form-control">
                {% for box in boxes %}
                <option value={{box.name}}>{{box.name}}</option>
                {% endfor %}
            </select>            
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input type="text" name="subject" class="form-control"/>
        </div>
    </div>
    <div class="card-body">        
        <textarea name="body" class="form-control" rows=8></textarea>
        <p><b>Hint</b> You can use html in a message to format a message to look funny.. or for various injections</p>
    </div>
    <div class="card-footer">
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <a href="/mailbox?user={{box.name}}" class="btn btn-danger">Reject</a>
        </form>
    </div>
</div>
{% endblock %}